# Python/Django
__pycache__/
*.py[cod]
*.sqlite3
*.pyc
*.pyo
*.pyd
.env
venv/
env/
ENV/

# Wagtail media (не коммить реальные файлы, только структуру)
media/original_images/
media/images/
media/documents/

# Static и collectstatic
staticfiles/
static
static/CACHE/

# Логи и дампы
*.log
db.sqlite3
dump*.json

# IDE
.idea/
.vscode/
*.sublime-workspace

# OS
.DS_Store
Thumbs.db